@{
    ViewBag.Title = "Главная страница";
}

<br />
    <a href="@Url.Action("Index", "Requests")" class="btn btn-primary btn-lg">Заявки &raquo;</a>
    <a href="@Url.Action("ReportForm", "Instruments")" class="btn btn-primary btn-lg">Отчёт &raquo;</a>

